{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme form 'form_layout.html.twig' %}



    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-9">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">New User Information</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="new-user-info">
                            {{form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

